<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%= @song.name %></title>
  </head>
  <body>
    <h1>Edit <%= @song.name %></h1>

    <form action="/songs/<%= @song.slug %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label>
        Song Name:<input type="text" name="song[name]" id="Name" value="<%= @song.name %>">
      </label>
      <br><br>

      <h4>Existing Genres:</h4>
      <% @genres.each do |genre| %>
        <input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>" id="<%= genre.name %>" <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %></input><br>
      <% end %>
      <br><br>

      <h4>Existing Artists:</h4>
      <% @artists.each do |artist| %>
        <input type="radio" name="song[artist_id]" value="<%= artist.id %>" id="<%= artist.name %>" <%= 'checked' if @song.artist == artist %>><%= artist.name %></input><br>
      <% end %>
      <br><br>

      <h4>Create A New Artist</h4>
      <label>
        Artist Name:<input type="text" name="artist[name]" id="Artist Name">
      </label>
      <br><br>

      <h4>Create A New Genre</h4>
      <label>
        Genre Name:<input type="text" name="genre[name]">
      </label>
      <br><br>

      <input type="submit" value="Save">
    </form>
  </body>
</html>
